<h4>マイページ</h4>

<h5>登録情報</h5>
<div><%= link_to "編集する", edit_public_customer_path, class: "btn btn-sm btn-success" %></div>
  <table class="table table-borderd">
    <tr>
      <th class="table-active">氏名</th>
      <td><%= @customer.full_name %></td>
    </tr>
    <tr>
      <th class="table-active">カナ</th>
      <td><%= @customer.full_name_kana %></td>
    </tr>
    <tr>
      <th class="table-active">郵便番号</th>
      <td><%= @customer.postcode %></td>
    </tr>
    <tr>
      <th class="table-active">住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th class="table-active">電話番号</th>
      <td><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <th class="table-active">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </table>

<h4>配送先</h4>
<div><%= link_to "一覧を見る", public_addresses_path, class: "btn btn-sm btn-primary" %></div>
<h4>注文履歴</h4>
<div><%= link_to "一覧を見る", public_orders_path, class: "btn btn-sm btn-primary" %></div>