<div class="row">
  <div class="container">
    <h5>編集画面</h5>

    <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

      <p>商品画像</p>
      <%= f.file_field :image, accept: "image/*" %>

      <p>商品名</p>
      <%= f.text_field :name %>

      <p>商品説明</p>
      <%= f.text_area :introduction %>

    	<p>税抜価格</p>
    	<%= f.text_field :price %>円</br>

    	<p>販売ステータス</p>

      <%= f.submit '変更を保存', class:"btn btn-group-sm btn-success" %>
    <% end %>
  </div>
</div>