<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'admin/genres/genrebox', genres: @genres %>
    </div>

    <div class="col-10">
      <%= image_tag 'cake2.jpg', size: "600x330" %>
      <h5>新着商品</h5>
      <div class="row">
        <% @items.last(4).each do |item| %>
          <div>
            <p><%= link_to  item_path(item.id) do %>
              <%= image_tag item.get_image, size: "150x100" %>
              <% end %>
            </p>
            <p>
            　<small class="text-muted"><%= link_to item.name, item_path(item.id) %></br>
            　<strong>（<%= (item.price * 1.1).to_i %>円)</strong></small>
          　</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
