<div class="container">
  <h3 class="col-md-8 offset-1">注文情報確認</h3>
  <div class="row">
    <div class="col-md-8 d-flex">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @total_price = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= (cart_item.item.price * 1.1).floor %></td>
              <td><%= cart_item.amount %></td>
              <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
              <% @total_price +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-8 d-flex">
      <table class="table table-bordered">
        <tr>
          <td>送料</td>
          <td><%= @order.freight.to_i %></td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td><%= @total_price.to_i %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= @total_price+@order.freight.to_i %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-8 d-flex">
      <div>
        <strong>支払方法</strong><%= @order.payment %><br>
        <strong>お届け先</strong><%= @order.postcode %><%= @order.address %><%= @order.name %>
      </div>
    </div>
    <%= form_with model: @order,url: orders_path, method: :post do |f| %>
      <%= f.hidden_field :payment %>
      <%= f.hidden_field :postcode %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :freight %>
      <%= f.hidden_field :total_cost, :value => @total_price+@order.freight %>
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>