<h3>注文情報確認</h3>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_item.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.get_image %><%= cart_item.name %></td>
        <td><%= (cart_item.price * 1.1).floor %></td>
        <td><%= cart_item.amount %></td>
        <td><%= (cart_item.price * 1.1).floor * cart_item.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <td>送料</td>
    <td><%= order.freight %></td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><% @total_price +=  (cart_item.price * 1.1).floor * cart_item.amount %></td>
  </tr>
  <tr>
    <td>請求金額</td>
    <td><%= @order.total_cost %></td>
  </tr>
</table>

<p><strong>支払方法</strong><%= @order.payment_method %></p>
<p><strong>お届け先</strong><%= @order.addresses %></p>
<%= form_for model: @order,url: confirm_public_orders_path, method: :post do |f| %>
  <%= f.hidden_field :postcode %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :total_price %>
<% end %>