<div class="container">
  <h3>注文情報確認</h3>
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= (cart_item.item.price * 1.1).floor %></td>
              <td><%= cart_item.amount %></td>
              <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
              <% @total_price =  (cart_item.item.price * 1.1).floor * cart_item.amount %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <table class="table">
        <tr>
          <td>送料</td>
          <td>800</td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td><% @total_price %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= @total_price+800 %></td>
        </tr>
      </table>
    </div>
    <p><strong>支払方法</strong><%= @order.payment %></p>
    <p><strong>お届け先</strong><%= @order.postcode %><%= @order.address %><%= @order.name %></p>
    <%= form_with model: @order,url: thanks_public_orders_path, method: :get do |f| %>
      <%= f.hidden_field :postcode %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :payment %>
      <%= f.hidden_field :total_price %>
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    <% end %>
  </div>
</div>