<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="col-12 offset-2">注文情報入力</h4>
      <%= form_with model: @order,url: confirm_public_orders_path, method: :post do |f| %>
      <h5><strong>支払方法</strong></h5>

      <div class="col-12 offset-1"><%= f.radio_button :payment, 0,checked: "checked" %>クレジットカード</div>
      <div class="col-12 offset-1"><%= f.radio_button :payment, 1 %>銀行振込</div>

      <h5><strong>お届け先</strong></h5>
      <div class="col-12 offset-1">
        <%= f.radio_button :address_number, '0', checked: "checked" %>
        <%= f.label :address_number, 'ご自身の住所', value: 0 %><br>
        <%= current_customer.postcode %>
        <%= current_customer.address %>
        <%= current_customer.last_name %>
        <%= current_customer.first_name %>
      </div>

      <div class="col-12 offset-1">
        <%= f.radio_button :address_number, '1' %>
        <%= f.label :address_number, '登録済住所から選択', value: 1 %><br>
        <%= f.collection_select(:addresses_id, @addresses, :id, :order_address) %>
      </div>
      <div class="col-12 offset-1">
        <%= f.radio_button :address_number, '2' %>
        <%= f.label :address_number, '新しいお届け先', value: 2 %><br>
        <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :postcode, autocomplete: "postcode" %><br>
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, autocomplete: "address" %><br>
        <%= f.label :name, "宛名" %>
        <%= f.text_field :name, autocomplete: "name" %><br>
        <%= f.submit "確認画面に進む", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>