<div class = "container">
  <div class="row">
      <div class="col-2">
          <%= render 'admin/genres/genrebox', genres: @genres %>
      </div>

      <div class="col-4 ">
      <%= image_tag @item.get_image, size: "250x150" %>
      </div>

      <div class="col-4 ">
       <table class="table">
        <tr>
          <th><%= @item.name %></th>
        </tr>
        <tr>
          <th><%= @item.introduction %></th>
        </tr>
        <tr>
          <th><%= (@item.price * 1.1).floor %>円 (<%= @item.price %>)円 </th>
        </tr>
        <tr>
          <th>
            <%= form_with model: @cart_item, url: '/public/cart_items' do |f| %>
            <%= f.select :amount, *[1..10], { include_blank: '個数選択'} %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit 'カートに入れる', class:"btn btn-primary" %>
            <% end %>
          </th>
      </div>
  </div>
</div>