<headar>
  <nav class="navbar navbar-expand-lg navbar-right pb-4 border-bottom border-dark">
    <div class="container">
      <div>
        <%= link_to root_path do %>
        <%= image_tag 'herder.jpg', :size => '350x80' %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse show" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>

          <li>ようこそ<%= current_customer.last_name %>さん！</li>
          <li><%= link_to "マイページ", customer_path(current_customer),class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "商品一覧", items_path,class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "カート", cart_item_path(current_customer.cart_items.count),class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'btn btn-sm btn-outline-secondary' %></li>

        <% elsif admin_signed_in? %>
          <li><%= link_to "商品一覧", admin_items_path, class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "会員一覧", admin_customers_path, class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "注文履歴一覧", admin_root_path, class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' %></li>

        <% else %>
          <li><%= link_to "About", about_path,class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "商品一覧", items_path,class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "新規登録", new_customer_registration_path,class: 'btn btn-sm btn-outline-secondary' %></li>
          <li><%= link_to "ログイン", new_customer_session_path ,class: 'btn btn-sm btn-outline-secondary' %></li>
        <% end %>
        </ul>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </nav>
</headar>
