<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <footer>
      <nav class="navbar navbar-expand-md navbar-right pb-4 border-top border-dark">
        <div style="text-align: center">
          <div>Copyright © 2022 NaganoCake All Rights Reserved.</div>
      　</div>
      </nav>
    </footer>
  </body>

</html>
